<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CURD Operation</title>
</head>
<body>
    <h1>Hello</h1>
    <p>{{message}}</p>

    <br>

    {{#if edit_id}}
    <p>Edit</p>
    <form action="/update_book/{{edit_id}}" method="post">
        <label for="title">title</label>
        <input type="text" name="title" value="{{edit_book.title}}"> 
        <label for="author">author</label>
        <input type="text" name="author" value="{{edit_book.author}}">
        <input type="submit" value="submit">
    </form><br><br>
    {{else}}
    <p>Create</p>
    <form action="/store_book" method="post">
        <label for="title">title</label>
        <input type="text" name="title">
        <label for="author">author</label>
        <input type="text" name="author">
        <input type="submit" value="submit">
    </form><br><br>
    {{/if}}

    <ul>
        {{#each books}}
            <li>{{this.title}} - {{this.author}} <a href="/?edit_id={{this._id}}">Edit</a><a href="/?delete_id={{this._id}}" onclick='return confirm("Are you sure want to delete?")'>Delete</a></li>
        {{/each}}
    </ul>
</body>
</html>